// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.photoBackground {
    background-image: url(../../storage/app/public/colage.jpg);
    background-size: 100% auto;
    background-position: center top;
    background-repeat: no-repeat;
}
